.blue-color{/*Create class named .blue-color to apply color to name in website*/
  color:dodgerblue;
}

body{/*Create body tag; add font-family style, color style, and line-height style*/
  font-family: sans-serif;
  color: #777777;
  line-height: 26px;
}

.half-width{/*Create class named .half-width; add width:50%, and float: left*/
    width: 50%;
    float: left;
}

.side-img{
    width: 50%;
    padding-left: 25%;
}

.primary-btn{
    color: white;
    background-color: #e16347;
    padding: 13px 42px 13px 42px;
    border-radius: 20px;
    text-decoration: none;
}

h1{
    font-size: 1.95em;
}

.container{
    padding-left: 5%;
    display: inline-block;
}

.experience{
    padding: 30px;
    margin: 30px;
    background-color: rgb(238, 251, 255);
    border-radius: 20px;
}